*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    margin-left: 10px;
    color: rgba(247, 83, 7, 0.712);
}

h1{
    margin-top: 18px;
    margin-left: 10px;
}

h1 span{
    color: rgba(247, 83, 7, 0.712);
}

#pets{
    display: flex;
    /* width: 100%; */
    /* height: 500px; */
    justify-content: space-evenly;
}


#pets .card{
    width: 400px;
    /* height: 100%; */
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
}

.card img{
    width: 100%;
    border-radius: 25px;
    margin-bottom: 12px;
}

h3{
    margin-bottom: 12px;
}

h4{
    text-align: right;
    margin-right: 10px;
    color: rgba(247, 83, 7, 0.712);
}

@media (max-width:414px){
    #pets{
        flex-wrap: wrap;
    }
}